<div class="container">
    <div class="d-flex justify-content-between flex_wrap flex-mdnowrap align-items-center pt-3 pb-2 mb-3">
        <h2 class="text-center">Book List</h2>
    </div>
    <table class="table-responsive">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books; let i = index">
                <th scope="row">{{book.id}}</th>
                <td>{{book.name}}</td>
                <td>{{book.price}}</td>
                <td>{{book.description}}</td>
                <td>
                    <button type="button" class="btn btn-warning" (click)="deleteBook(book.id,i)">Delete</button>
                    <button type="button" class="btn btn-info" routerLink="/edit-book/{{book.id}}">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>